<div class="page">
<a name="Top" id="Top"></a>

<!-- Topbar -->
<div class="top-bar">
	<div class="row">
		<div class="col-md-6">
		  {{ page.topbar_first }}
		</div>
		<div class="col-md-6">
		  {{ page.topbar_second }}
		</div>
	</div>
</div>

<div class="wrapper">
	<!-- Header -->
	<header>
		<div class="col-md-12">
			<div class="row">
			
				<!-- Navigation -->
				<div class="col-md-12">
				  {% if page.main_menu %}
				    <nav class="navbar navbar-default">
					  <div class="container-fluid">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
						  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						  </button>
						</div>
					
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="main-menu">
						  {{ page.main_menu }}
						</div><!-- /.navbar-collapse -->
					  </div><!-- /.container-fluid -->
					</nav>
					
				    {% endif %}
					
					<!-- Search -->
					<div class="search" id="search">
						{{ page.search }}
					</div>
					<span class="search-trigger"><i class="fa fa-search"></i></span>
				</div>
			</div>
		</div>
	</header>
	
	<div class="header">
		<div class="col-md-12">
				<!-- Logo -->
				<div id="logo" class="col-md-5 logo">
					{% if logo %}
					  <a id="logo" href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">
						<img src="{{ logo }}" alt="{{ 'Home'|t }}"/>
					  </a>
					{% endif %}
				
					{% if site_name or site_slogan %}
					  <div class="name-and-slogan">
				
						{# Use h1 when the content title is empty #}
						{% if title %}
						  <strong class="site-name">
							<a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
						  </strong>
						{% else %}
						  <h1 class="site-name">
							<a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
						  </h1>
						{% endif %}
				
						{% if site_slogan %}
						  <div class="site-slogan">{{ site_slogan }}</div>
						{% endif %}
					  </div>
				   {% endif %}
				   
					{{ page.branding }}
				</div>
				
				<!-- Header Region -->
				<div class="col-md-7">				
					{{ page.header }}
				</div>
		</div>
	</div>

	<!-- Main Content -->
	<div class="main-content container">
	    <!-- Messages Help -->
		<div class="col-lg-{{ page.main_content_width }} col-md-{{ page.main_content_width }} col-sm-12 col-xs-12">
			  {% if messages %}
				<div id="messages" class="messages">
					{{ messages }}
				</div>
			  {% endif %}
			
			  {% if page.help %}
				<div id="help" class="help">
					{{ page.help }}
				</div>
			  {% endif %}    
		</div>
		
		<!-- Main Content -->
		<div class="col-lg-{{ page.main_content_width }} col-md-{{ page.main_content_width }} col-sm-12 col-xs-12">
			<div class="row">
				<!-- Sidebar First -->
				{% if page.sidebar_first %}
				  <aside class="sidebar-first sidebar col-lg-3 col-md-3 col-sm-12 col-xs-12" role="complementary">
					{{ page.sidebar_first }}
				  </aside>
				{% endif %}
				
				<!-- Content Region -->
				<div class="content col-lg-{{ page.content_width }} col-md-{{ page.content_width }} col-sm-12 col-xs-12">
				  {{ page.highlighted }}
		
				  {{ title_prefix }}
				  {% if title %}
					<h1>{{ title }}</h1>
				  {% endif %}
				  {{ title_suffix }}
		
				  {{ tabs }}
		
				  {% if action_links %}
					<nav class="action-links">{{ action_links }}</nav>
				  {% endif %}
		
				  {{ page.content }}
		
				  <!--{{ feed_icons }}-->
				</div>
			</div>
			
			<!-- Content Bottom -->
			<div class="row">
				<div id="content-bottom" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					{{ page.content_bottom }}
				</div>
			</div>
		</div>
	
		<!-- Sidebar Second-->
		{% if page.sidebar_second %}
          <aside class="sidebar-second sidebar col-lg-4 col-md-4 col-sm-12 col-xs-12" role="complementary">
            {{ page.sidebar_second }}
          </aside>
        {% endif %}
	</div>
	
	
	<!-- Panel First -->
	{% if page.panel_first %}
      <section id="panel-first" class="panel-first">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              {{ page.panel_first }}
            </div>
          </div>
        </div>
      </section>
    {% endif %}


	<!-- Panel Second -->
	{% if page.panel_second %}
      <section id="panel-second" class="panel-second">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              {{ page.panel_second }}
            </div>
          </div>
        </div>
      </section>
    {% endif %}
	
	<!-- Footer -->
	{% if page.panel_third_1 or page.panel_third_2 or page.panel_third_3 %}
    <section id="panel-third" class="panel-third">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 panel-third-widget panel-third-1">
            {{ page.panel_third_1 }}
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 panel-third-widget panel-third-2">
            {{ page.panel_third_2 }}
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 panel-third-widget panel-third-3">
            {{ page.panel_third_3 }}
          </div>
        </div>
      </div>
    </section>
    {% endif %}
	
	<!-- Footer - Fixed -->
	<div class="footer-fixed">
		<div class="row">
			<div class="col-md-8">
				{{ page.footer_first }}
			</div>
			<div class="col-md-4">
				{{ page.footer_second }}
			</div>
		</div>
	</div>
</div>

<div class="clearfix space30"></div>

</div>
